.topic {
  background-color: #fff;
  .title {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 46px;
    text-align: center;
    line-height: 46px;
    background-color: #fff;
    z-index: 5;
    font-size: 17px;
    font-weight: 600;
    margin: 0 auto;
  }
  .imgBox {
      padding-top:3px;
    ul {
        overflow: hidden;
        li {
        list-style: none;
        background-color: #fff;
        width: 33.33%;
        padding: 0 3%;
        float: left;
        img {
          width: 100%;
          height: 100%;
          margin: 28px 0;
        }
      }
    }
  }
}
