@function vw($n) {
  // vw移动端适配
  // 如果效果图是750，就除以750;
  @return ($n * 2 * 100 / 750) + vw;
}
.body {
  background: #fff;
}
.am-list-header {
  position: fixed;
  top: 0;
  z-index: 99;
  background: #fff;
  span {
    color: #444;
    font-size: vw(22);
    font-weight: 600;
  }
}
.am-list-body {
  margin-top: vw(60);
}
.customer {
  border-radius: 50%;
}
