.am-tab-bar-bar {
    position: fixed;
    bottom: 0;
}

* {
    /* 怪异盒模型 */
    box-sizing: border-box;
}
<<<<<<< HEAD

.am-tabs-content-wrap {
    margin-top: 0 !important;
=======
.am-tab-bar{
    position: fixed;
    bottom: 0;
>>>>>>> penghui
}