@function vw($n) {
    // vw移动端适配
    // 如果效果图是750，就除以750;
    @return ($n * 2 * 100 / 750)+vw;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

// .changeColor {
//     transition: all 2s !important;
//     background-color: rgb(245, 245, 245) !important;
// }
.am-tabs-bottom{
height: vw(50);
}
.shop-bigBox {
    height: 100%;
    // margin-bottom: vw(50);
    overflow-y: scroll;

    .shop-box {
        position: fixed;
        height: vw(50);
        width: 100%;
        // padding: 0 vw(15);
      
        transition: all 1s ;
     

        .shop-logo {
            float: left;
            margin-top: vw(15);
            width: vw(120);
            height: vw(23);
            line-height: vw(23);
            background-image: url('https://m.anlewo.com/static/img/icon-nav-title@2x.60e2a.png');
            background-size: 100% 100%;
            vertical-align: middle;
            margin-left: vw(15);
        }

        .shop-nav {
            float: right;
            margin-top: vw(15);
            width: 20px;
            height: 20px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAD1BMVEUAAABERERFRUVCQkJEREStaWzGAAAABHRSTlMA5kpJG2qUMwAAACNJREFUKM9jGFhg6IIBhBlEMAUdsQsqYgoKMQwVMOr3YeR3ALpFPMRuV8jpAAAAAElFTkSuQmCC);
            background-size: 100% 100%;
            vertical-align: middle;
            margin-right: vw(15);
        }
    }

    .shop-box1 {
        padding: vw(70) vw(15) 0;

        p {
            margin: 0;
            margin-bottom: vw(15);
            width: 100%;
            height: vw(30);
            background-image: url('https://m.anlewo.com/static/img/icon-shop-build@2x.31b89.png');
            background-size: vw(102) vw(30);
            background-repeat: no-repeat;
        }

        div {
            height: 100%;
            // overflow: hidden;

            ul {
                height: 100%;
                // background-color: pink;
                padding: 0;
                margin: 0;
                overflow: hidden;

                li {
                    list-style: none;
                    float: left;
                    margin-bottom: vw(15);

                    img {
                        width: vw(165);
                        height: vw(90);
                    }
                }

                li:nth-child(2n+1) {
                    margin-right: vw(15);
                }

            }


        }
    }

    .shop-box2 {
        padding: vw(10) vw(15) 0;

        p {
            margin: 0;
            margin-bottom: vw(15);
            width: 100%;
            height: vw(30);
            background-image: url('https://m.anlewo.com/static/img/icon-shop-electrical@2x.e8545.png');
            background-size: vw(73) vw(30);
            background-repeat: no-repeat;
        }

        div {
            height: 100%;
            // overflow: hidden;

            ul {
                height: 100%;
                // background-color: pink;
                padding: 0;
                margin: 0;
                overflow: hidden;

                li {
                    list-style: none;
                    float: left;
                    margin-bottom: vw(15);

                    img {
                        width: vw(165);
                        height: vw(90);
                    }
                }

                li:nth-child(2n+1) {
                    margin-right: vw(15);
                }

            }


        }
    }

    .shop-box3 {
        padding: vw(10) vw(15) 0;
        background-color: #f5f5f5;
        margin-bottom: vw(50);
        p {
            margin: 0;
            margin-bottom: vw(15);
            width: 100%;
            height: vw(30);
            background-image: url('https://m.anlewo.com/static/img/icon-shop-soft@2x.10a6b.png');
            background-size: vw(73) vw(30);
            background-repeat: no-repeat;
        }

        div {
            height: 100%;
            // overflow: hidden;

            ul {
                height: 100%;
                // background-color: pink;
                padding: 0;
                margin: 0;
                overflow: hidden;

                li {
                    list-style: none;
                    width: 100%;
                    margin-bottom: vw(15);

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

            }


        }
    }

}